{% extends 'sound/base.html' %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-10 article">
            {% if error_message %}
                <div class="alert alert-warning" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <h1 class="center">All Sounds</h1>
            <div class="row align-items-start">
                {% for i in sound %}
                     <div class="col-sm audio-card" style="padding-top: 10px; width: 200px; max-width: 200px;">
                        <div class="card" onclick="var audio = new Audio('{{ i.sound.url }}'); audio.play()">
                            <img src="{{ i.image.url }}" alt="sound-image">
                            <div class="card-body">
                                <h5 class="card-title center">{{ i.title }}</h5>
                                {% if user.is_authenticated %}
                                    <form method="post">
                                        {% csrf_token %}
                                         <button class="btn btn-dark" id="val" name="val" value="{{ i.pk }}">Add</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="w-100"></div>
                    {% endif %}
                    {% if forloop.last %}
                        <div class="col-sm"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}


