{% extends 'sound/base.html' %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-4 article">
            {% if error_message %}
                <div class="alert alert-warning" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            {% for i in sound %}
                <div class="card" onclick="var audio = new Audio('{{ i.sound.url }}'); audio.play()">
                    <img src="{{ i.image.url }}" alt="sound-image">
                    <div class="card-body">
                        <h5 class="card-title center">{{ i.title }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
