{% extends 'sound/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if add_sounds == "True" %}
    <p>It apears you ahvent made a sound board yet gho here to make one</p>

{% else %}
     class="center"><u>{{ user }}'s sound board</u></h1>
    {% for i in user_sound %}
        <div class="card" onclick="var audio = new Audio('{{ i.sounds.sound.url }}'); audio.play()">
            <img src="{{ i.sounds.image.url }}" alt="sound-image">
            <div class="card-body">
                <h5 class="card-title center">{{ i.sounds.title }}</h5>
                <form method="post">
                    {% csrf_token %}
                    <button id = "prim_key" name = "prim_key" value="{{ i.pk }}">Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}